{% extends 'base.html.twig' %} 
{% block title %}Produits{% endblock %} 
{% block body %}
<main class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-sm-4">
      <div class="card m-3">
        <img class="card-img-top" src="{{ product.productImages.0.file }}" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</main>

{% endblock %}
